## file extension
/resource
*.csv
*.json
*.docx

## idk what point of spending hours on setup...

## files
review.txt
console.docx

## git ignore only ignores when adding file if file already added rm --cached
## https://stackoverflow.com/questions/30227858/gitignore-exclude-specific-file
flights_13th_may.sql
sqoop-simple-table-imports.sh
